.reveal section p.phones {
    display: block;
    background-color: #eee;
    padding: 0.5em;
}
.reveal section p.phones img {
    width: 18%; margin: 1px; border: none; background: none
}
strike {
    opacity: 0.5;
}
strong {
    color: #E7AD52;
}
